@import "/css/normalize.css";
/* --------- Fonts --------- */
@font-face {
  font-family: 'fira_sansregular';
  src: url('/fonts/Fira/firasans-regular.eot');
  src: url('/fonts/Fira/firasans-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-regular.woff') format('woff'), url('/fonts/Fira/firasans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url('/fonts/Fira/firasans-light.eot');
  src: url('/fonts/Fira/firasans-light.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-light.woff') format('woff'), url('/fonts/Fira/firasans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight_italic';
  src: url('/fonts/Fira/firasans-lightitalic.eot');
  src: url('/fonts/Fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-lightitalic.woff') format('woff'), url('/fonts/Fira/firasans-lightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansbook';
  src: url('/fonts/Fira/firasans-book.eot');
  src: url('/fonts/Fira/firasans-book.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-book.woff') format('woff'), url('/fonts/Fira/firasans-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url('/fonts/Fira/firasans-medium.eot');
  src: url('/fonts/Fira/firasans-medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-medium.woff') format('woff'), url('/fonts/Fira/firasans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanovacond-semibold-webfont';
  src: url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.eot');
  src: url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.woff') format('woff'), url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.f-book {
  font-family: "fira_sansbook";
}
.f-regular {
  font-family: 'fira_sansregular';
}
.f-medium {
  font-family: "fira_sansmedium";
}
.f-light {
  font-family: 'fira_sanslight';
}
.f-li {
  font-family: 'fira_sanslight_italic';
}
.pnc-semib {
  font-family: "proximanovacond-semibold-webfont";
}
/* --------- Mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- Base --------- */
/* --------- Base --------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%;
}
body {
  font: 14px/1.41 "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  background: url('/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 960px;
}
.wrapper .empty {
  position: relative;
  height: 80px;
}
footer {
  position: relative;
  margin-top: -80px;
  height: 80px;
}
/*--------Header--------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
/*--------Header--------*/
.header {
  position: relative;
  height: 119px;
  margin-bottom: 40px;
  background-color: #eff3f7;
}
.header__line {
  background-color: #226a7e;
  background-image: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #87aeba 28%, #1c667a 48%, #87aeba 71%, #f2f6fa 100%);
  background-image: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #87aeba 28%, #1c667a 48%, #87aeba 71%, #f2f6fa 100%);
  background-image: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #87aeba 28%, #1c667a 48%, #87aeba 71%, #f2f6fa 100%);
  position: absolute;
  left: 0;
  width: 100%;
  top: 116px;
  height: 3px;
}
.header__logo {
  position: absolute;
  top: 29px;
  left: -120px;
}
.social__list {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  position: absolute;
  top: 35px;
  right: -141px;
  width: 283px;
  margin-bottom: 20px;
}
.social__list:before,
.social__list:after {
  content: "";
  display: table;
}
.social__list:after {
  clear: both;
}
.social__item {
  float: left;
  margin-right: 24px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  display: block;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.social__link-vk {
  width: 46px;
  height: 46px;
  background: url("/img/sprites_ico.png") no-repeat 0 0;
}
.social__link-vk:hover {
  background: url("/img/sprites_ico.png") no-repeat 0 -46px;
}
.social__link-tw {
  width: 47px;
  height: 47px;
  background: url("/img/sprites_ico.png") no-repeat -47px 0;
}
.social__link-tw:hover {
  background: url("/img/sprites_ico.png") no-repeat -47px -47px;
}
.social__link-fc {
  width: 47px;
  height: 47px;
  background: url("/img/sprites_ico.png") no-repeat -95px 0;
}
.social__link-fc:hover {
  background: url("/img/sprites_ico.png") no-repeat -95px -47px;
}
.social__link-git {
  width: 47px;
  height: 47px;
  background: url("/img/sprites_ico.png") no-repeat -143px 0;
}
.social__link-git:hover {
  background: url("/img/sprites_ico.png") no-repeat -143px -47px;
}
/*------Menu---------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
/*------Menu---------*/
.sidebar__left {
  width: 250px;
  float: left;
  margin-right: 60px;
}
.nav {
  width: 250px;
  background-color: #eff3f7;
  margin-bottom: 23px;
  margin-top: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav__item {
  width: 230px;
  height: 73px;
  margin: auto;
  border-top: 2px solid #3ba8c0;
}
.nav__item:first-child {
  border-top: 0;
}
.nav__item:first-child .active {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.nav__item:last-child .active {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav__link {
  display: block;
  width: 240px;
  height: 75px;
  margin-top: -2px;
  padding-left: 17px;
  font-family: "fira_sansbook";
  font-size: 21px;
  color: #959aa8;
  line-height: 72px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav__link:hover {
  font-size: 22px;
  color: #3ba8c0;
}
.nav__link.active {
  width: 250px;
  margin-left: -10px;
  padding-left: 27px;
  background-color: #3ba8c0;
  font-size: 21px;
  color: #fff;
  pointer-events: none;
}
.nav__link.active:hover {
  padding-left: 27px;
}
.contacts {
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contacts__title {
  height: 39px;
  padding-left: 20px;
  background-color: #3ba8c0;
  font-family: "fira_sansbook";
  font-size: 21px;
  line-height: 43px;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.contacts__item:last-child .contacts__link {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.contacts__link {
  position: relative;
  padding-left: 80px;
  padding-right: 5px;
  display: block;
  height: 40px;
  width: 250px;
  line-height: 40px;
  font-family: "fira_sansbook";
  font-size: 17px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contacts__link:hover {
  text-decoration: underline;
}
.contacts__link-mail {
  background-color: #41b9d4;
}
.contacts__link-mail_ico {
  position: absolute;
  top: 12px;
  left: 42px;
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 21px;
  height: 16px;
  background: url('/img/sprites-contacts.png') no-repeat -40px 0;
}
.contacts__link-tel {
  display: block;
  height: 38px;
  background-color: #48cbe8;
}
.contacts__link-tel_ico {
  position: absolute;
  top: 7px;
  left: 43px;
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 19px;
  height: 21px;
  background: url('/img/sprites-contacts.png') no-repeat -20px 0;
}
.contacts__link-skype {
  display: block;
  height: 38px;
  background-color: #51daf8;
}
.contacts__link-skype_ico {
  position: absolute;
  top: 8px;
  left: 43px;
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 20px;
  height: 20px;
  background: url('/img/sprites-contacts.png') no-repeat 0 0;
}
/*--------Main--------*/
/*------Обо мне---------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
/*--------Main--------*/
.main {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.main:before,
.main:after {
  content: "";
  display: table;
}
.main:after {
  clear: both;
}
.info {
  width: 650px;
  float: right;
}
.info__primary {
  margin-bottom: 25px;
  background-color: #eff3f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.info__primary-title {
  width: 340px;
  height: 67px;
  padding-left: 20px;
  border-bottom: 2px solid #3ba8c0;
  font-family: "fira_sansbook";
  font-size: 27px;
  color: #3ba8c0;
  line-height: 67px;
}
.info__primary-avatar {
  display: block;
  float: left;
  margin: 17px 37px 0 22px;
  width: 200px;
  height: 200px;
  border: 5px solid #30a6bd;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.info__primary-avatar img {
  display: block;
  width: 190px;
  height: 190px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.info__primary-about {
  margin-top: 20px;
  font-family: "fira_sansbook";
  font-size: 15px;
  color: #4a545d;
  overflow: hidden;
}
.info__primary-about span {
  margin-right: 15px;
  font-family: "fira_sansmedium";
  font-size: 17px;
  color: #4a545d;
}
.info__primary-skills span {
  color: #5a636b;
}
.info__primary-row {
  margin-bottom: 18px;
}
.tag__list {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 208px;
  margin-left: 2px;
}
.tag__item {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.tag__link {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  padding: 0 14px;
  margin-bottom: 8px;
  margin-right: 5px;
  background-image: -moz-linear-gradient(top, #3ba7c0 50%, #2e8ca2 50%);
  background-image: -webkit-linear-gradient(top, #3ba7c0 50%, #2e8ca2 50%);
  background-image: -o-linear-gradient(top, #3ba7c0 50%, #2e8ca2 50%);
  background-image: -ms-linear-gradient(top, #3ba7c0 50%, #2e8ca2 50%);
  background-image: linear-gradient(to bottom, #3ba7c0 50%, #2e8ca2 50%);
  background-color: #3ba7c0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: "proximanovacond-semibold-webfont";
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.info__job {
  padding-bottom: 25px;
  margin-bottom: 25px;
  background-color: #eff3f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.info__job-title {
  width: 209px;
  height: 67px;
  padding-left: 20px;
  margin-bottom: 35px;
  border-bottom: 2px solid #3ba8c0;
  font-family: "fira_sansbook";
  font-size: 27px;
  color: #3ba8c0;
  line-height: 67px;
}
.job__item {
  position: relative;
  margin-top: 25px;
  margin-left: 65px;
}
.job__item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 36px;
  height: 34px;
  background: url("/img/job_ico.png") no-repeat 0 0;
  overflow: hidden;
}
.job__item p {
  padding-left: 66px;
  font-family: "fira_sansbook";
  font-size: 17px;
  color: #4a545d;
}
.job__item-period {
  padding-left: 66px;
  font-family: 'fira_sanslight';
  font-size: 15px;
  color: #4a545d;
}
.info__edu {
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #eff3f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.info__edu-title {
  width: 214px;
  height: 61px;
  padding-left: 20px;
  margin-bottom: 35px;
  border-bottom: 2px solid #3ba8c0;
  font-family: "fira_sansbook";
  font-size: 27px;
  color: #3ba8c0;
  line-height: 55px;
}
.edu__item {
  position: relative;
  margin-top: 25px;
  margin-left: 65px;
}
.edu__item:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -3px;
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 41px;
  height: 23px;
  background: url("/img/edu_ico.png") no-repeat 0 0;
  overflow: hidden;
}
.edu__item p {
  padding-left: 66px;
  font-family: "fira_sansbook";
  font-size: 17px;
  color: #4a545d;
}
.edu__item-kurs:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 26px;
  height: 32px;
  background: url("/img/kurs_ico.png") no-repeat 0 0;
  overflow: hidden;
}
.edu__item-period {
  padding-left: 67px;
  font-family: 'fira_sanslight';
  font-size: 15px;
  color: #4a545d;
}
/*-------------------*/
/*------Мои Работы---------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
.portfolio {
  width: 650px;
  float: right;
  margin-bottom: 39px;
  background-color: #eff3f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.portfolio__title {
  width: 202px;
  height: 67px;
  padding-left: 25px;
  margin-bottom: 35px;
  border-bottom: 2px solid #3ba8c0;
  font-family: "fira_sansbook";
  font-size: 27px;
  color: #3ba8c0;
  line-height: 67px;
}
.portfolio__list {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  padding: 0 20px;
  margin-left: -29px;
}
.portfolio__list:before,
.portfolio__list:after {
  content: "";
  display: table;
}
.portfolio__list:after {
  clear: both;
}
.portfolio__item {
  width: 185px;
  float: left;
  margin-left: 28px;
  margin-bottom: 33px;
}
.portfolio__pic {
  position: relative;
  display: block;
  height: 131px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #3ba8c0;
}
.portfolio__pic img {
  max-width: 181px;
  max-height: 127px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.portfolio__pic:hover .portfolio__hover {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  filter: alpha(opacity=75);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
.portfolio__pic:hover p {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.portfolio__pic-title {
  display: block;
  position: absolute;
  top: 55px;
  left: 55px;
  width: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid #eff3f7;
  padding: 0 5px;
  font-family: "fira_sansbook";
  font-size: 12px;
  color: #eff3f7;
  text-transform: lowercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.portfolio__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 182px;
  height: 127px;
  background-color: #016ca4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.portfolio__url {
  display: block;
  text-align: center;
  margin-bottom: 7px;
  font-family: 'fira_sanslight_italic';
  font-size: 13px;
  color: #3ba8c0;
  text-decoration: none;
}
.portfolio__item-description {
  height: 45px;
  font-family: 'fira_sanslight';
  font-size: 15px;
  color: #4a545d;
  text-align: center;
}
.portfolio__add {
  width: 181px;
  height: 131px;
  background: #edf8fc url('/img/add_ico.png') no-repeat center 35px;
  border: 1px dashed #3ba8c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.portfolio__add p {
  margin-top: 80px;
  font-family: 'fira_sanslight';
  font-size: 13px;
  color: #3ba8c0;
  text-align: center;
}
/*-------------------*/
/*------Связь со мной---------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
.contact {
  width: 650px;
  float: right;
  margin-bottom: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact__title {
  height: 121px;
  margin-bottom: 15px;
  background-color: #48cbe8;
  font-family: "fira_sansbook";
  font-size: 27px;
  color: #fff;
  text-align: center;
  line-height: 125px;
  -webkit-box-shadow: 0 15px 0 0 #67dffa;
  -moz-box-shadow: 0 15px 0 0 #67dffa;
  box-shadow: 0 15px 0 0 #67dffa;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=15, Color=#67dffa);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.contact__wrap {
  min-height: 700px;
  background-color: #eff3f7;
}
.form__wrap {
  width: 402px;
  margin: auto;
  padding-top: 47px;
}
.form__wrap label {
  font-family: 'fira_sanslight';
  font-size: 19px;
  color: #959aa8;
}
.form__inputs-row {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  margin-bottom: 15px;
}
.form__inputs-row:before,
.form__inputs-row:after {
  content: "";
  display: table;
}
.form__inputs-row:after {
  clear: both;
}
.form__input-row {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.form__input {
  width: 190px;
  height: 39px;
  padding: 10px;
  border: 1px solid #48cbe8;
  border-radius: 3px;
  background-color: #fbfcfd;
  font-family: 'fira_sanslight';
  font-size: 13px;
}
.form__input::-webkit-input-placeholder {
  color: #48cbe8;
}
.form__input:-moz-placeholder {
  color: #48cbe8;
}
.form__input::-moz-placeholder {
  color: #48cbe8;
}
.form__input:-ms-input-placeholder {
  color: #48cbe8;
}
.form__input-name {
  margin-right: 18px;
}
textarea {
  width: 402px;
  height: 181px;
  padding: 10px;
  margin-bottom: 13px;
  border: 1px solid #48cbe8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fbfcfd;
  resize: none;
  font-family: 'fira_sanslight';
  font-size: 13px;
}
textarea::-webkit-input-placeholder {
  color: #48cbe8;
}
textarea:-moz-placeholder {
  color: #48cbe8;
}
textarea::-moz-placeholder {
  color: #48cbe8;
}
textarea:-ms-input-placeholder {
  color: #48cbe8;
}
.form__captcha-pic {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  width: 189px;
  height: 77px;
  border: 1px solid #48cbe8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
}
.form__captcha-row {
  margin-bottom: 34px;
}
.form__input-captcha {
  width: 190px;
  height: 30px;
  margin-top: 20px;
  margin-left: 18px;
  padding: 5px;
  border: 1px solid #48cbe8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fbfcfd;
}
.form__input-submit {
  display: block;
  float: left;
  width: 139px;
  height: 31px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #48cbe8;
  outline: none;
  -webkit-box-shadow: 0 3px 0 0 #3ba8c0;
  -moz-box-shadow: 0 3px 0 0 #3ba8c0;
  box-shadow: 0 3px 0 0 #3ba8c0;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color=#3ba8c0);
  font-family: "fira_sansbook";
  font-size: 19px;
  color: #fff;
}
.form__input-submit:hover {
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color=#3ba8c0);
  height: 34px;
}
.form__input-submit:active {
  -webkit-box-shadow: 0 -3px 0 0 #3ba8c0;
  -moz-box-shadow: 0 -3px 0 0 #3ba8c0;
  box-shadow: 0 -3px 0 0 #3ba8c0;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-3, Color=#3ba8c0);
}
.form__input-reset {
  display: block;
  float: right;
  width: 142px;
  height: 31px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #849db5;
  outline: none;
  -webkit-box-shadow: 0 3px 0 0 #687b8f;
  -moz-box-shadow: 0 3px 0 0 #687b8f;
  box-shadow: 0 3px 0 0 #687b8f;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color=#687b8f);
  font-family: "fira_sansbook";
  font-size: 19px;
  color: #fff;
}
.form__input-reset:hover {
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color=#687b8f);
  height: 34px;
}
.form__input-reset:active {
  -webkit-box-shadow: 0 -3px 0 0 #687b8f;
  -moz-box-shadow: 0 -3px 0 0 #687b8f;
  box-shadow: 0 -3px 0 0 #687b8f;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-3, Color=#687b8f);
}
/*-------------------*/
/*--------Footer--------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
/*--------Footer--------*/
.footer {
  position: relative;
  background-color: #eff3f7;
}
.footer__line {
  background-color: #226a7e;
  background-image: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #87aeba 28%, #1c667a 48%, #87aeba 71%, #f2f6fa 100%);
  background-image: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #87aeba 28%, #1c667a 48%, #87aeba 71%, #f2f6fa 100%);
  background-image: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #87aeba 28%, #1c667a 48%, #87aeba 71%, #f2f6fa 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
}
.copyright {
  width: 401px;
  margin: 0 auto;
  line-height: 80px;
  font-family: 'fira_sanslight';
  font-size: 13px;
  color: #4a545d;
}
/*-------------------*/
/*--------Popup--------*/
/* --------- Fonts --------- */
/* --------- Mixins --------- */
/*------PopUp-------*/
.popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 40%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1000;
}
.popup label {
  font-family: 'fira_sanslight';
  font-size: 17px;
  color: #959aa8;
}
.popup__row {
  padding-left: 22px;
  margin-bottom: 10px;
}
#add__project {
  width: 362px;
  min-height: 490px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eff3f7;
}
.popup__title {
  position: relative;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
  background: #48cbe8;
  -webkit-box-shadow: 0 10px 0 0 #67dffa;
  -moz-box-shadow: 0 10px 0 0 #67dffa;
  box-shadow: 0 10px 0 0 #67dffa;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10, Color=#67dffa);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'fira_sansregular';
  font-size: 25px;
  color: #fff;
  line-height: 45px;
}
.popup__close {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #48cbe8 url("/img/close.png") no-repeat 0 0;
  cursor: pointer;
}
.popup__input {
  width: 318px;
  height: 40px;
  padding: 10px;
  border: 1px solid #48cbe8;
  border-radius: 3px;
  background-color: #fbfcfd;
  font-family: 'fira_sanslight';
  font-size: 13px;
}
.popup__input::-webkit-input-placeholder {
  color: #48cbe8;
}
.popup__input:-moz-placeholder {
  color: #48cbe8;
}
.popup__input::-moz-placeholder {
  color: #48cbe8;
}
.popup__input:-ms-input-placeholder {
  color: #48cbe8;
}
.error {
  border: 1px solid #f97e76!important;
  background-color: rgba(249, 126, 118, 0.3) !important;
}
.file {
  overflow: hidden;
  position: relative;
  width: 320px;
}
.inputbox {
  width: 265px;
  float: left;
  margin: 0;
  padding: 10px;
  height: 40px;
  border: 1px solid #48cbe8;
  background-color: #fbfcfd;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.inputbox span {
  width: 500px;
  display: block;
}
.btn {
  float: left;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 40px;
  width: 52px;
  background: #48cbe8 url('/img/add_file_ico.png') no-repeat center center;
}
.file input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.popup__textarea {
  width: 318px;
  height: 109px;
  margin-bottom: 10px;
  border: 1px solid #48cbe8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fbfcfd;
  resize: none;
}
.popup__submit {
  display: block;
  margin: 0 auto 15px auto;
  width: 139px;
  height: 31px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #48cbe8;
  outline: none;
  -webkit-box-shadow: 0 3px 0 0 #3ba8c0;
  -moz-box-shadow: 0 3px 0 0 #3ba8c0;
  box-shadow: 0 3px 0 0 #3ba8c0;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color=#3ba8c0);
  font-family: "fira_sansbook";
  font-size: 19px;
  color: #fff;
}
.popup__submit:hover {
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color=#3ba8c0);
  height: 34px;
}
.popup__submit:active {
  -webkit-box-shadow: 0 -3px 0 0 #3ba8c0;
  -moz-box-shadow: 0 -3px 0 0 #3ba8c0;
  box-shadow: 0 -3px 0 0 #3ba8c0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
#popup__message {
  width: 350px;
  min-height: 90px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eff3f7;
}
.popup__message {
  position: relative;
  margin: 15px;
  padding-left: 5px;
  border: 1px solid #49bb7b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #b8e1ce;
  font-family: "fira_sansbook";
  font-size: 15px;
  color: #49bb7b;
}
.popup__message span {
  font-size: 25px;
}
#popup__close-msg {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  height: 11px;
  background: url("/img/close_msg_ico.png") no-repeat 0 0;
}
