/* --------- Fonts --------- */
@font-face {
  font-family: 'fira_sansregular';
  src: url('/fonts/Fira/firasans-regular.eot');
  src: url('/fonts/Fira/firasans-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-regular.woff') format('woff'), url('/fonts/Fira/firasans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url('/fonts/Fira/firasans-light.eot');
  src: url('/fonts/Fira/firasans-light.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-light.woff') format('woff'), url('/fonts/Fira/firasans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight_italic';
  src: url('/fonts/Fira/firasans-lightitalic.eot');
  src: url('/fonts/Fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-lightitalic.woff') format('woff'), url('/fonts/Fira/firasans-lightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansbook';
  src: url('/fonts/Fira/firasans-book.eot');
  src: url('/fonts/Fira/firasans-book.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-book.woff') format('woff'), url('/fonts/Fira/firasans-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url('/fonts/Fira/firasans-medium.eot');
  src: url('/fonts/Fira/firasans-medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-medium.woff') format('woff'), url('/fonts/Fira/firasans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanovacond-semibold-webfont';
  src: url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.eot');
  src: url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.woff') format('woff'), url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.f-book {
  font-family: "fira_sansbook";
}
.f-regular {
  font-family: 'fira_sansregular';
}
.f-medium {
  font-family: "fira_sansmedium";
}
.f-light {
  font-family: 'fira_sanslight';
}
.f-li {
  font-family: 'fira_sanslight_italic';
}
.pnc-semib {
  font-family: "proximanovacond-semibold-webfont";
}
/* --------- Mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*------PopUp-------*/
.popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 40%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1000;
}
.popup label {
  font-family: 'fira_sanslight';
  font-size: 17px;
  color: #959aa8;
}
.popup__row {
  padding-left: 22px;
  margin-bottom: 10px;
}
#add__project {
  width: 362px;
  min-height: 490px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eff3f7;
}
.popup__title {
  position: relative;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
  background: #48cbe8;
  -webkit-box-shadow: 0 10px 0 0 #67dffa;
  -moz-box-shadow: 0 10px 0 0 #67dffa;
  box-shadow: 0 10px 0 0 #67dffa;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10, Color=#67dffa);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'fira_sansregular';
  font-size: 25px;
  color: #fff;
  line-height: 45px;
}
.popup__close {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #48cbe8 url("/img/close.png") no-repeat 0 0;
  cursor: pointer;
}
.popup__input {
  width: 318px;
  height: 40px;
  padding: 10px;
  border: 1px solid #48cbe8;
  border-radius: 3px;
  background-color: #fbfcfd;
  font-family: 'fira_sanslight';
  font-size: 13px;
}
.popup__input::-webkit-input-placeholder {
  color: #48cbe8;
}
.popup__input:-moz-placeholder {
  color: #48cbe8;
}
.popup__input::-moz-placeholder {
  color: #48cbe8;
}
.popup__input:-ms-input-placeholder {
  color: #48cbe8;
}
.error {
  border: 1px solid #f97e76!important;
  background-color: rgba(249, 126, 118, 0.3) !important;
}
.file {
  overflow: hidden;
  position: relative;
  width: 320px;
}
.inputbox {
  width: 265px;
  float: left;
  margin: 0;
  padding: 10px;
  height: 40px;
  border: 1px solid #48cbe8;
  background-color: #fbfcfd;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.inputbox span {
  width: 500px;
  display: block;
}
.btn {
  float: left;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  height: 40px;
  width: 52px;
  background: #48cbe8 url('/img/add_file_ico.png') no-repeat center center;
}
.file input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.popup__textarea {
  width: 318px;
  height: 109px;
  margin-bottom: 10px;
  border: 1px solid #48cbe8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fbfcfd;
  resize: none;
}
.popup__submit {
  display: block;
  margin: 0 auto 15px auto;
  width: 139px;
  height: 31px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #48cbe8;
  outline: none;
  -webkit-box-shadow: 0 3px 0 0 #3ba8c0;
  -moz-box-shadow: 0 3px 0 0 #3ba8c0;
  box-shadow: 0 3px 0 0 #3ba8c0;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color=#3ba8c0);
  font-family: "fira_sansbook";
  font-size: 19px;
  color: #fff;
}
.popup__submit:hover {
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color=#3ba8c0);
  height: 34px;
}
.popup__submit:active {
  -webkit-box-shadow: 0 -3px 0 0 #3ba8c0;
  -moz-box-shadow: 0 -3px 0 0 #3ba8c0;
  box-shadow: 0 -3px 0 0 #3ba8c0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
#popup__message {
  width: 350px;
  min-height: 90px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eff3f7;
}
.popup__message {
  position: relative;
  margin: 15px;
  padding-left: 5px;
  border: 1px solid #49bb7b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #b8e1ce;
  font-family: "fira_sansbook";
  font-size: 15px;
  color: #49bb7b;
}
.popup__message span {
  font-size: 25px;
}
#popup__close-msg {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  height: 11px;
  background: url("/img/close_msg_ico.png") no-repeat 0 0;
}
