/* --------- Fonts --------- */
@font-face {
  font-family: 'fira_sansregular';
  src: url('/fonts/Fira/firasans-regular.eot');
  src: url('/fonts/Fira/firasans-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-regular.woff') format('woff'), url('/fonts/Fira/firasans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url('/fonts/Fira/firasans-light.eot');
  src: url('/fonts/Fira/firasans-light.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-light.woff') format('woff'), url('/fonts/Fira/firasans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight_italic';
  src: url('/fonts/Fira/firasans-lightitalic.eot');
  src: url('/fonts/Fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-lightitalic.woff') format('woff'), url('/fonts/Fira/firasans-lightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansbook';
  src: url('/fonts/Fira/firasans-book.eot');
  src: url('/fonts/Fira/firasans-book.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-book.woff') format('woff'), url('/fonts/Fira/firasans-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url('/fonts/Fira/firasans-medium.eot');
  src: url('/fonts/Fira/firasans-medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Fira/firasans-medium.woff') format('woff'), url('/fonts/Fira/firasans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanovacond-semibold-webfont';
  src: url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.eot');
  src: url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.woff') format('woff'), url('/fonts/Proxima-Nova/proximanovacond-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.f-book {
  font-family: "fira_sansbook";
}
.f-regular {
  font-family: 'fira_sansregular';
}
.f-medium {
  font-family: "fira_sansmedium";
}
.f-light {
  font-family: 'fira_sanslight';
}
.f-li {
  font-family: 'fira_sanslight_italic';
}
.pnc-semib {
  font-family: "proximanovacond-semibold-webfont";
}
/* --------- Mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.portfolio {
  width: 650px;
  float: right;
  margin-bottom: 39px;
  background-color: #eff3f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.portfolio__title {
  width: 202px;
  height: 67px;
  padding-left: 25px;
  margin-bottom: 35px;
  border-bottom: 2px solid #3ba8c0;
  font-family: "fira_sansbook";
  font-size: 27px;
  color: #3ba8c0;
  line-height: 67px;
}
.portfolio__list {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  padding: 0 20px;
  margin-left: -29px;
}
.portfolio__list:before,
.portfolio__list:after {
  content: "";
  display: table;
}
.portfolio__list:after {
  clear: both;
}
.portfolio__item {
  width: 185px;
  float: left;
  margin-left: 28px;
  margin-bottom: 33px;
}
.portfolio__pic {
  position: relative;
  display: block;
  height: 131px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #3ba8c0;
}
.portfolio__pic img {
  max-width: 181px;
  max-height: 127px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.portfolio__pic:hover .portfolio__hover {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  filter: alpha(opacity=75);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
.portfolio__pic:hover p {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.portfolio__pic-title {
  display: block;
  position: absolute;
  top: 55px;
  left: 55px;
  width: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid #eff3f7;
  padding: 0 5px;
  font-family: "fira_sansbook";
  font-size: 12px;
  color: #eff3f7;
  text-transform: lowercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.portfolio__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 182px;
  height: 127px;
  background-color: #016ca4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.portfolio__url {
  display: block;
  text-align: center;
  margin-bottom: 7px;
  font-family: 'fira_sanslight_italic';
  font-size: 13px;
  color: #3ba8c0;
  text-decoration: none;
}
.portfolio__item-description {
  height: 45px;
  font-family: 'fira_sanslight';
  font-size: 15px;
  color: #4a545d;
  text-align: center;
}
.portfolio__add {
  width: 181px;
  height: 131px;
  background: #edf8fc url('/img/add_ico.png') no-repeat center 35px;
  border: 1px dashed #3ba8c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.portfolio__add p {
  margin-top: 80px;
  font-family: 'fira_sanslight';
  font-size: 13px;
  color: #3ba8c0;
  text-align: center;
}
